#first_row{
    display: flex;
}

#current_date_time{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;
    padding-top: 1%;
    width: 30%;
    height: 310px;
    border-width:5px;
    border-style:solid;
    border-color:black;
    border-radius: 10px;

}

#live_current_weather{
    margin-top: 25px;
    width: 60%;
    height: 310px;
    padding-top: 1%;
    border-width:5px;
    border-style:solid;
    border-color:black;
    border-radius: 10px;
}

#second_row{
    display: flex;
}

#weekly_forecast{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;
    padding-top: 1%;
    width: 60%;
    height: 310px;
    border-width:5px;
    border-style:solid;
    border-color:black;
    border-radius: 10px;
}

#hourly_forecast{
    margin-right: 50px;
    margin-top: 25px;
    padding-top: 1%;
    width: 60%;
    height: 310px;
    border-width:5px;
    border-style:solid;
    border-color:black;
    border-radius: 10px;
}